@font-face {
	font-family: 'NanumGothic';
	src: url("./fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
}
@font-face {
	font-family: 'NanumPenScript';
	src: url("./fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf");
}

html, body{height: 100%; width: 100%;} /* Important for background height...*/
body{			   
	font: normal 14px "NanumPenScript", Helvetica, Arial, "sans-serif"; 
	color: #333;
	overflow-x: hidden;
}

p {
	font: normal 2.5em "NanumPenScript", Helvetica, Arial, "sans-serif"; 
	margin: 1em 1.5em;
}

h1, h2 {
	text-align: center;
	font: normal 3em "NanumGothic", Helvetica, Arial, "sans-serif";
	padding: 1em 0 0 0;
}

footer{
	position: fixed;
	bottom:0; left:0;
	width:100%;
	height:2rem;	
	background-color: hsl(220, 58%, 31%);
	z-index: 100;
	color: #fff;
	text-align: center;
	line-height: 2;
}

menu{
	position: fixed;
	top:0; left:0;
	width:100%;
	height:3rem;
	background-color: hsl(220, 58%, 31%);
	z-index: 100;
}

section{
	display: grid;
	grid-template-columns: 50% 50%;
	/* background-color: hsl(34, 31%, 80%); */
}

article{margin: 5em 2em;}

section:nth-child(2n+1) article{
	grid-column: 2;	
	background-color: hsla(34, 31%, 90%, .8);
	border-radius: 10px;
	box-shadow: -5px 5px 10px 1px #333;
}
section:nth-child(2n) article{
	grid-column: 1;	
	background-color: hsla(34, 31%, 90%, .8);
	border-radius: 10px;
	box-shadow: 5px 5px 10px 1px #333;
}

#intro, #blender{
	position: relative;
	width:100%;
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
}
#intro{
	background-image: url(../images/bkgrd2.jpg);
}
#blender{
	background-image: url(../images/blender_bkgrd2.jpg);
}

@media (max-width: 667px){
	h1, h2{font-size: 2.5em;}
	p{font-size: 1.5em;}
	article{margin: 4em 2em;}
	section:nth-child(2n+1) article{grid-column-start: 1; grid-column: span 2;box-shadow: 5px 5px 10px 1px #333;}
	section:nth-child(2n) article{grid-column-start: 1; grid-column: span 2;}
}

/* @media (max-width: 375px){	
	h1{font-size: 2.5em;}
	p{font-size: 2em;}
} */